@font-face {
    font-family: "Consolas";
    src: url(./CONSOLA.TTF);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Corben', serif;
}

body {
    background-color: #fff9f5;
}

body> :is(h1, p) {
    text-align: center;
    margin: 5px;
}

.password-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
    margin: 50px 0;

}

.password-container>div {
    flex: 1 0 50%;
}

.password-container .image img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.password-container .password-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-container .password-box .password-box__copy {
    width: 350px;
    height: 40px;
    border-radius: 100vmax;
    border: 1px solid #00000084;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.password-container .password-box .password-box__copy p {
    width: calc(100% - 50px);
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Merriweather', serif;
}

.password-container .password-box .password-box__copy button {
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: 0;
    background-color: #fff9f5;
    font-size: 20px;
    transition: 0.7s;
}

.copy-button {
    margin: 25px 0;
    width: 100px;
    height: 40px;
    border: 1px solid #7e57c2;
    border-radius: 100vmax;
    background-color: #7e57c2;
    color: #fff;
    cursor: pointer;
}

.copy-button i {
    font-size: 20px;
}

.password-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
}

.form-control {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.form-control * {
    cursor: pointer;
}

.form-control input[type="number"] {
    width: 30px;
    height: 30px;
    border: 1px solid currentColor;
    border-radius: 5px;
    padding-left: 5px;
    outline: 0;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 30px;
    height: 30px;
    border: 1px solid currentColor;
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #7e57c2;
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

@media screen and (max-width: 1080px) {
    .password-container {
        flex-wrap: wrap;
        padding: 0 20px;
    }


    .password-container>div {
        flex: 1 0 100%;
    }

    .password-options {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 450px) {
    .password-container {
        padding: 0 10px;

    }

    .password-container .password-box .password-box__copy {
        width: 100%;
    }

    .password-container .password-box .password-box__copy button {
        height: fit-content;
    }

    h1 {
        font-size: 1.5rem;
    }
}